
body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
  opacity: 0.9;

}


header {
  height: 60px;
  border-bottom: 1px solid seashell;
  background-color: black;
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 1;
  top: 0;

}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  height: 50px;
  margin-left: 10px;
}

nav span {

  color: seashell;
  font-size: 22px;
  text-decoration: underline;
  display: inline-block;
  margin-right: 30px;
  margin-top: 15px;

}

a {
  text-decoration: underline;
  color: seashell;
}

.main-container{
  position: relative;
  top: 70px;
  Margin: 0;
}

.mission .image-content {
  background-image: url(/Web_Dev_Projects/Tea_Cozy/resources/images/img-mission-background.jpg);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1200px;
  height: 700px;

}

.mission .image-text{
  color: seashell;
  background-color: black;
  justify-content: center;
  text-align: center;
  display: inline-block;
  width: 1200px;
}

/*tea of the month*/

.tom {
  color: seashell;
  text-align: center;
  display: inline-block;
  align-items: center;
  width: 1000px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.flex-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width:1000px;
  align-items: flex-end;
  margin: 0px auto 0 auto;
}


.tea img{
  height:200px;
  width: 300px;
  padding: 10px;

}

.tea h4 {
  color: seashell;
  text-align: center;
}

/*locations*/

.locations {
  background-image: url(images/img-locations-background.jpg);
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  align-self: center;
  display: inline-block;
}

.locations h2 {
  color: seashell;
  text-align: center;

}

.address {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.store span {
  padding-bottom: 30px;
  display: block;
  text-align: center;
}

.store h3 {
  text-align: center;
}

.flex-container .store {
  background-color: black;
  opacity: 1;
  width: 300px;
  margin: 0 20px;
  justify-content: space-around;
  color: seashell;
  display: block;
}

/*footer*/

.contact {
  color: seashell;
  text-align: center;
  display: block;
  height: 200px;

}

 footer  {

  text-align: left;
  margin-left: 20px;
  color: seashell;
  display: inline;
}
